version: '3'
services:
  database:
    # Required when running on platform other than amd64, like Apple M1/M2:
    platform: linux/amd64
    ports:
      - 10001:5432

  directus:
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    environment:
      PUBLIC_URL: 'http://localhost:8055'
      LOG_LEVEL: 'debug'